<div class="feed-loading-page">

  <h1 class="loading-text">Please wait while we load your RSS feeds...</h1>
  <h3 class="loading-text"><div class="glyphicon glyphicon-refresh spin"></div></h3>
  <h2 class="loading-text">:^)</h2>

</div>