<div id="row"></div>

<div id="entry-list">
  <% feed.entries().each(function(entry) { %>
    <div class="feed-entry-bar" data-id="<%= entry.id %>"><%= entry.get('title') %>
      <% if (entry.get('description')) { %>
        -
        <span class="feed-entry-description"><%= entry.get('description') %></span>
        <div class="feed-entry-hidden"></div>
      <% } %>
    </div>
  <% }) %>
</div>