<div id="row"></div>

<div id="entry-list">
  <% feed.entries().each(function(entry) { %>
    <div class="feed-entry-bar" data-id="<%= entry.id %>"><%= entry.get('title') %>
      <% if (entry.get('description')) { %>
        <div class="feed-entry-description"><%= entry.get('content-encoded') || entry.get('description') %></div>
        <div class="feed-entry-hidden feed-entry-encoded-description"></div>
      <% } %>
    </div>
  <% }) %>
</div>